@import "../vars";
@import "../media";

.banner {
  border: 1px solid transparent;
  height: 490px;
  margin-top: -70px;
  padding-top: 60px;
  background: url("../../assets/images/banner.jpg") center no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;

  @include media(1420) {
    background-size: fill;
  }

  @include media(1200) {
    margin-top: -110px;
    padding-top: 80px;
  }

  margin-bottom: 50px;
}
