@import "../media";
@import "../vars";

.charts {
  margin-top: 42px;

  @include media(770) {
    margin-top: 30px;
  }

  &__wrapper {
    display: flex;
    gap: 20px;

    @include media(770) {
      flex-wrap: wrap;
    }
  }

  &__item {
    @include media(770) {
      flex: 1 1 auto;
    }
  }

  &__price {
    color: #4f4f4f;
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    span {
      font-family: $accent-font;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: 0.02em;
      color: $purple;
      margin-left: 61px;
      @include media(770) {
        margin-left: 53px;
        font-size: 25px;
      }
    }
  }

  &__img {
    img {
      width: 100%;
    }
  }
}
