@import "../vars";
@import "../media";

.header {
  z-index: 40;

  &__logo {
    z-index: 10;
  }

  &__sociol {
    display: none;
  }

  @include media(1180) {
    height: 106px;
    padding-top: 12px;

    &_active {
      max-width: 328px;
      background: $light;

      @include media(360) {
        max-width: 100%;
      }
    }

    &_active .header__burger {
      transform: translateX(75%);
      @include media(360) {
        transform: translateX(0);
      }
    }

    &_active .header__sociol {
      display: block;
      margin-top: 120px;
      padding: 0 15px;
      background: $light;
    }

    &_active .sociol__item + .sociol__item {
      margin-left: 15px;
    }
  }

  @include media(360) {
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
    z-index: 10;

    @include media(1180) {
      display: block;
    }
  }
}

@media (max-height: 600px) {
  .header_active .header__sociol {
    margin-top: 30px;
  }
}
