@import "../media";
@import "../vars";

.promo {
  border: 1px solid transparent;
  position: relative;
  height: 848px;
  margin-top: -60px;
  padding-top: 60px;
  background: url("../../assets/images/promo_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;

  @include media(1420) {
    background-size: fill;
  }

  @include media(770) {
    background: url("../../assets/images/promo_bg2.jpg") no-repeat;
    background-position: center;
    background-size: fill;
  }

  @include media(1200) {
    margin-top: -110px;
    padding-top: 80px;
  }

  &__body {
    height: 90%;
    width: 100%;

    @include media(980) {
      background-size: 473px auto;
    }

    @include media(728) {
      background-size: 373px auto;
    }

    @include media(478) {
      background-position: 64px bottom;
    }
  }

  &__title {
    padding-top: 38px;
    text-align: left;

    &::after {
      left: 0;
      transform: translateX(0);
    }

    @include media(1180) {
      padding-top: 0;
    }
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: $light;

    width: 355px;
    margin-bottom: 20px;

    @include media(400) {
      font-size: 12px;
      width: 237px;
    }

    @include media(250) {
      font-size: 12px;
      width: 100%;
    }
  }
}
