@import "./vars";
@import "./media";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

.container {
  max-width: 1348px;
  padding: 0 15px;
  margin: 0 auto;
  height: inherit;
}

body {
  font-family: $main-font;
  overflow-y: scroll;
}

.body_lock {
  overflow: hidden;
}

.title {
  margin: 92px 0 55px 0;
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $light;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    height: 5px;
    width: 94px;
    background: $purple;
    transform: translateX(-50%);
  }

  @include media(1056) {
    font-size: 65px;
  }

  @include media(912) {
    font-size: 55px;
    margin-top: 60px;
  }

  @include media(770) {
    font-size: 45px;
    margin-top: 55px;
  }

  @include media(570) {
    font-size: 40px;
    margin-top: 45px;
  }

  @include media(460) {
    font-size: 35px;
    margin: 30px 0 47px 0;
  }

  @include media(364) {
    font-size: 25px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 11px 36px;
  border: 2px solid $light;
  border-radius: 28px;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $light;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 28px;
    background: $yellow;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    z-index: -1;
  }

  &:hover::after {
    transform: scale(0, 0.2);
  }
}

.page {
  position: relative;
  padding-left: 114px;
  margin: 51px 0 20px 0;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;

  &::after {
    position: absolute;
    content: "";
    width: 94px;
    height: 5px;
    top: 50%;
    left: 0;
    background: $purple;
    transform: translateY(-50%);
  }
}

.subtitle {
  font-family: $accent-font;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: $accent-color;

  @include media(912) {
    font-size: 40px;
  }

  @include media(570) {
    font-size: 35px;
  }

  @include media(364) {
    font-size: 30px;
  }
}

.text {
  margin-top: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #4f4f4f;

  @include media(912) {
    font-size: 16px;
  }

  @include media(570) {
    font-size: 14px;
  }

  @include media(364) {
    font-size: 12px;
  }
}
