$dark: #0b060c;
$light: #ffffff;
$accent-color: #090f3f;
$blue: #489dd7;
$yellow: #f8ba1a;
$purple: #cf1257;

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

$main-font: "Hind", sans-serif;
$accent-font: "Rubik", sans-serif;
